
table{

  width: 80%;
  margin-left: 90px;
}
span{
      position: fixed;
    left: 172px;
    top: 28px;
}
tr{
  width: 100%;
}
.container{
     margin-top: 69px;

}
.c1{
  width: 50%
}
.c2{
  width: 25%;
}
.c3{
  width: 100%;
}
